<h3>Create a New Post</h3>

<form id="NewPost">
  <p>
    {{input value=title class="form-control" placeholder="Title"}}
  </p>
  <p>
    {{textarea value=body class="form-control" placeholder="Body" rows="10" cols="140"}}
  </p>
  <p>
    <button class="btn btn-primary btn-block" {{action "createPost" newPost}}>Publish</button>
  </p>
</form>