    <h1>{{model.title}}</h1>
    <p>{{model.body}}</p>
    <div>
      <span class="badge">Posted on {{model.datePosted}}</span>
      <span class="badge">Posted by {{model.user}}</span>
    </div>
    <hr>
